# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pytest_cache/

# Environments
.venv/
venv/
env/

# Editors & OS
.vscode/
.idea/
.DS_Store

# Media & model weights
*.mp4
*.avi
*.mov
*.wav
models/
